<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is main page</title>
</head>
<body>
This is main page.<br>
User Name:{{user.user_name}}<br>
User Email:{{user.user_email}}<br>

<form action="/view">
    <button type="submit" >View</button>
</form>


<form action="/drink_add"  method="POST">
    Drink's name is ?<input type="text" name="drink_name" ><br>
    This drink contains <input type="number" name="drink_water" >g of water<br>
    This drink contains <input type="number" name="drink_energy" >kcal of energy<br>
    This drink contains <input type="number" name="drink_protein" >g of protein<br>
    This drink contains <input type="number" name="drink_sugar" >g of sugar<br>
    This drink contains <input type="number" name="drink_caffeine" >mg of caffeine<br>
    <button type="submit" >Submit a new drink!</button>
</form>

<form action="/result" method="POST">
    <table>
    <tr>
        <th>Name</th>
        <th>Water</th>
        <th>Energy</th>
        <th>Protein</th>
        <th>Sugar</th>
        <th>Caffeine</th>
  </tr>
     {% for drink in drinks %}
  <tr>
      <td>{{ drink.drink_name }}</td>
      <td>{{ drink. drink_water}}</td>
      <td>{{ drink. drink_energy}}</td>
      <td>{{ drink. drink_protein}}</td>
      <td>{{ drink. drink_sugar}}</td>
      <td>{{ drink. drink_caffeine}}</td>
      <td><input type="number" name="drink_number_{{drink.drink_name}}" value="drink.drink_number"></td>
  </tr>
  {% endfor %}
</table>>
    <button type="submit" name="Cal" value="Cal">Cal</button>
</form>

<form action="/logout">
    <button type="submit">Log out</button>
</form>

</body>
</html>