<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is view page</title>
</head>
<body>
This is view page<br>
Your Height is :{{user.user_height}}<br>
Your Weight is :{{user.user_weight}}<br>
Your   Age  is :{{user.user_age}}<br>
<form action="/main">
    <button type="submit">Back</button>

</form>

<form action="/logout">
    <button type="submit">Log out</button>
</form>

<form action="/filling", >
    <button type="submit">Edit</button>

</form>

</body>
</html>